<% provide(:title, 'Help') %>

<div id="pp_gallery" class="pp_gallery">
    <div id="pp_loading" class="pp_loading"></div>
    <div id="pp_next" class="pp_next"></div>
    <div id="pp_prev" class="pp_prev"></div>
    <div id="pp_thumbContainer">
        <div class="album">
            <div class="content">
                <img src="images/album1/thumbs/1.jpg" alt="images/album1/1.jpg" />
                <span>The Sixties by Tetsumo</span>
            </div>
            <div class="content">
                <img src="images/album1/thumbs/2.jpg" alt="images/album1/2.jpg" />
                <span>The Sixties by Tetsumo</span>
            </div>
            ...
            <div class="descr">
                The Sixties
            </div>
        </div>
        <div class="album" style="bottom:-90px;">
            ...
        </div>
        ...
        <div class="pp_back">Albums</div>
    </div>
</div>