<% provide(:title, 'Help') %>

<div class="flexslider">
  <ul class="slides">
    <li>
      <a class="view" href="http://www.vlietlandziekenhuis.nl/uploads/images/eHealth/vliegtuig.gif">…</a>
    </li>
    <li>
      <a class="view" href="http://cache.iliosreizen.nl/image/201211291505320.bant2_test_1354197933.jpg">…</a>
    </li>
    <li>
      <a class="view" href="http://www.ronaldverzekeringen.nl/images/reisverzekering.png">…</a>
    </li>
    <li>
      <a class="view" href="http://www.yourplanettravel.nl/files/jouwchinareis/Shangri-la/Tibetaans_China_reizen_reis_Tibet.jpg">…</a>
    </li>
    <li>
      <a class="view" href="http://www.startpagina.nl/athene/dochters/srilanka/images/SL_0282_IT.JPG">…</a>
    </li>
  </ul>
</div>