<div id="mapdiv" style="width: 960px; background-color:#FFFFFF; height: 600px;"></div>
<% if signed_in? %>

<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
   
  </aside>
  <div class="span8">
    <h3>Reacties</h3>
    <%= render 'shared/feed' %>
  </div>
</div>xยง

  <div>
    <%= render 'shared/feed' %>
  </div>

  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/nl_NL/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-comments" data-href="http://example.com/comments" data-numposts="10" data-colorscheme="light"></div>
<% else %>
<% end %>