<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
 <script type="text/javascript" src="https://www.google.com/jsapi"> </script>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
     
        <%= render @microposts %>
     
      <%= will_paginate @microposts %>
    <% end %>
    
  </div>
</div>
  
 
