<footer class="footer">
  <small>
      <%= link_to image_tag("logo.png")%>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Over ons",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>